
  a {
    color: black; /* Задаем цвет по умолчанию */
    text-decoration: none; /* Убираем подчеркивание */
    transition: font-size 0.3s; /* Добавляем плавное изменение размера шрифта */
  }
  
  a:hover {
    color: rgb(12, 166, 33); /* Устанавливаем тот же цвет при наведении курсора */
    
  }